.stoper {
    color:white;
    font-size: 40px;
    max-width: 1200px;
    margin: 20px auto;
    display: flex;
    justify-content: center;   
}

@media (max-width: 380px) {
    .timeConverter {
      font-size: 45px;
    }
  }
